@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Clicker+Script&display=swap");

/* :root {
    /* --accent-color: #761834; */
/* } */

body {
    font-family: "Garamond", serif;
    font-size: 14pt;

    overflow-x: hidden;
    margin: 0;

    background: url("img/background-e2-wrap-20.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

a {
    /* color: var(--accent-color); */
    /* background-color: blue; */
    /* padding: 0.2em; */
    /* border-style: solid; */
    /* border-radius: 5px; */
    /* border-width: 1px; */
    text-decoration: underline;
}

#nav-bar a {
    color: var(--accent-color);
}

h2 {
    font-variant-caps: small-caps;
    font-family: "Cinzel", Garamond, serif;
    font-size: calc(1.3em + (1.5 - 1.3) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 0.75em;
}

h4 {
    /* border-style: solid; */
    margin-top: 0em;
}

h3 {
    /* border-style: solid; */
    margin-top: 0em;
}

img {
    max-width: 100%;
}

#names {
    /* background-color: lightgreen; */
    overflow-x: hidden; /* Name will start off screen */
    text-align: center;
    font-family: "Cinzel", Garamond, serif;
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
    font-variant-caps: small-caps;
    letter-spacing: 2px;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

#name-danielle {
    animation-name: danielle-animation;
    animation-duration: 2s;
    /* animation-fill-mode: forwards; */
    position: relative;
}

#name-danielle-no-animate {
    position: relative;
}

#name-john {
    animation-name: john-animation;
    animation-duration: 2s;
    /* animation-fill-mode: forwards; */
    position: relative;
}

#name-john-no-animate {
    position: relative;
}

#name-and {
    font-family: "Clicker Script", Garamond, serif;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#name-and-no-animate {
    font-family: "Clicker Script", Garamond, serif;
}

#tagline {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(12pt + (14 - 12) * ((100vw - 300px) / (1600 - 300)));

    animation-name: fade-up;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

#tagline-no-animate {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(12pt + (14 - 12) * ((100vw - 300px) / (1600 - 300)));

    position: relative;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

@media (min-width: 491px) {
    #tagline::after {
        content: "September 5th, 2021 | Pittsburgh, Pennsylvania";
    }
    #tagline-no-animate::after {
        content: "September 5th, 2021 | Pittsburgh, Pennsylvania";
    }
}

@media (max-width: 490px) {
    #tagline::after {
        content: "Sept 5th, 2021 | Pittsburgh, PA";
    }
    #tagline-no-animate::after {
        content: "Sept 5th, 2021 | Pittsburgh, PA";
    }
}

@keyframes danielle-animation {
    from {
        /* color: red; */
        left: -1000px;
    }
    to {
        left: 0px;
    }
}

@keyframes john-animation {
    from {
        left: 1000px;
    }
    to {
        left: 0px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        bottom: -50px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    /* width: 100%; */
    margin: 0;
    /* border-style: solid; */

    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;

    /* border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px; */
}
/* @media (max-width: 320px) {
     #tagline {
    }
} */

@media (max-width: 490px) {
    #nav-bar {
        flex-direction: column;
        border-top-width: 0px;
        border-bottom-width: 0px;
    }
    #nav-bar > div {
        border-style: solid;
        width: 100%;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        border-top-width: 1px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        color: var(--accent-color);
        background-color: white;
    }

    #nav-bar > div:last-child {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }

    #nav-bar a {
        border-style: none;
    }
}
@media (min-width: 491px) {
    #nav-bar {
        flex-direction: row;
    }
    #nav-bar > div {
        margin-left: 0.6em;
        margin-right: 0.6em;

        padding-left: 1em;
        padding-right: 1em;
    }
}

#nav-bar > div {
    /* background-color: #f1f1f1; */
    /* width: 100px; */

    text-align: center;
    font-weight: bold;
}
#nav-bar > div:hover {
    text-decoration: underline;
}

.page-header {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;

    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0em;
    /* background-color: lightslategray; */
}

.content-1-col {
    text-align: center;
    /* padding: 1em; */
    /* border-style: solid; */
    /* background-color: lightgreen; */
    /* margin: 1em; */
    /* margin-left: 1em;
    margin-right: 1em; */

    max-width: 500px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    /* padding-bottom: 1em; */
    padding-top: 0em;
}

.content-wide {
    max-width: 1024px;
    padding-left: 1em;
    padding-right: 1em;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

.content-wide > div {
    /* background-color: lightskyblue; */
    text-align: center;
    /* border-style: solid; */

    margin: 0 auto;

    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0em;
    padding-top: 0em;
}

.content-2-col {
    display: grid;
    margin: 0 auto;
    max-width: 1024px;
    /* background-color: lightgoldenrodyellow; */
    /* border-style: solid; */
    padding-left: 1em;
    padding-right: 1em;
    /* padding-bottom: 1em; */
    padding-top: 0em;
    margin-top: 0em;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

.content-3-col {
    display: grid;
}

@media (max-width: 900px) {
    .content-2-col {
        grid-template-rows: 1fr 1fr;
    }
    .content-3-col {
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (min-width: 900px) {
    .content-2-col {
        grid-template-columns: 1fr 1fr;
    }
    .content-3-col {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.content-2-col > div {
    /* background-color: lightskyblue; */
    text-align: center;
    /* border-style: solid; */

    margin: 0 auto;

    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0em;
    padding-top: 0em;
}

.events {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 0em;
    padding-top: 0em;
}

/* .content-3-col > div {
    background-color: lightskyblue;
    text-align: center;
    border-style: solid;
    margin-left: 1em;
    margin-right: 1em;
} */

.content-2-col > div > img {
    max-width: 100%;
    height: auto;
    /* border-style: solid;
    border-width: 1px; */
}

#registry-wrapper {
    background-color: white;
}
